ion-menu-button {
    color: var(--ion-color-primary);
}

ion-item {
    --highlight-color-focused: #3880ff;
    --background-hover: rgba(56, 128, 255, 0.1);
    --border-radius: 8px;
  }
  
  ion-button {
    --background: #3880ff;
    --border-radius: 8px;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  